#mostrarTabla{
  margin: 1%;
  margin-left: 20px;
}
#carrusel{
  margin-top: 6%;
}

body{
  overflow-x: hidden;
  background-image: url(../img/move.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-size: 20px;
}
.carrusel {
  margin-left: 28.8%;
  opacity: 0.8;
  height: 640px;
  width: 480px;
}
a img{
  height: 20%;
  width: 31%;
  margin-right: 1%;
  margin-left: 1%;
}
a{
  text-decoration: none;
  color: black;
}
a:hover
 {
   text-decoration:none;
   cursor:pointer;
  }
footer{
  text-align: center;
}
iframe{
  width: 80%;
}
@media screen and (min-width: 480px) {
  iframe {
      height: 400px;
  }
}
form{
  font-weight: bold;
}
h1, h2, h3, h4{
  text-align: center;
}
.panel{
  padding: 1%;
  margin: 2%;
  margin-bottom: 1%;
  width: 96%;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(95, 106, 106, 0.2);
}
.texto{
  margin: 2%;
  text-align: center;
}
.publicidad{
  width: 100%;
}
.publicidad img{
  opacity: 1;
  width: 30%;
}
.btnEliminarCab{
  float: right;
}
.alerta-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alerta-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
